.board {
  width: 150px;
  height: 150px;
  /* margin: '0 auto', */
  border: 4px solid #383b3e;
  /* border-radius: 10px; */
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  padding: 10px;
}

.board:nth-child(3n) {
  border-right: 0;
}

.board:nth-child(3n + 1) {
  border-left: 0;
}

.board:nth-child(1),
.board:nth-child(2),
.board:nth-child(3) {
  border-top: 0;
}

.board:nth-child(7),
.board:nth-child(8),
.board:nth-child(9) {
  border-bottom: 0;
}
