.header-container {
  background-color: rgba(40, 60, 40, 0.2);
}

.header-link {
  display: flex;
  text-decoration: none;
  padding: 10px;
}

.logo-div {
  width: 60px;
}

.logo {
  width: 100%;
}

.name {
  cursor: pointer;
  display: inline;
  padding-left: 10px;
}

.btn {
  text-decoration: none;
  padding: 10px;
  color: #ac3235;
}
